*{box-sizing: border-box;}
@font-face {
  font-family: Courier;
  src: url(./assets/Courier.dfont);
}

img {
width: 100%;
}

body{
  background-color: black;
  color: gray;
  font-family: Clairvaux;
  font-size: 20px;
  height: 100%;
  overflow: hidden;

}


.home-button{
  width: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* outline-color: red;
  outline-style: solid; */
}

.home-button:hover{
  filter: drop-shadow(0 0 30px #60bf2c);
}
